@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;
}

.header {
	background-color: #482ff7;
	display: flex;
	align-items: center;
	padding: 10px;
}

.header div a {
	text-decoration: none;
	color: inherit;
}

.header div {
	color: #fff;
	padding: 15px 20px;
	border-right: 1px solid #d9d9d9;
	font-weight: bold;
	cursor: pointer;
}

.header div:hover {
	text-decoration: underline;
}

.main-container {
	background-color: #bfbfbf;
	max-width: 800px;
	margin: 0 auto;
}

.introduction {
	display: flex;
	flex-direction: column;
	align-items: center;
}

h1 {
	margin: 20px 0;
}

.portfolio {
	overflow: hidden;
}

.contact {
	background-color: #fff;
	padding: 10px;
}

.contact img {
	width: 40px;
	margin-left: 10px;
}

footer {
	width: 800px;
	margin: 0 auto;
}

@media (max-width: 500px) {
	.main-container {
		width: 100%;
	}

	footer {
		width: 100%;
	}
}